

.grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;


}

.col {
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0, 0.8);
    text-align: center;
    background-color: aquamarine;
}

@media screen and (min-width:400px) {
    .grid-container {
     display: grid;
     grid-template-columns:1fr;
    grid-gap:16px;

   }
}
   @media screen and  (min-width:768px) {

    .grid-container {
        display: grid;
        grid-template-columns:1fr 1fr;
       grid-gap:16px;
   
      }

   }
   @media screen and   (min-width:1200px) {
    .grid-container {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
       grid-gap:16px;
   
      }
   }




